.DS_Store
dotless/bin/araxis*
dotless/bin/p4
dotless/bin/svnup.yaml
.irssi/logs/*
dotted/vim/.VimballRecord
dotted/vim/.netrwhist
dotless/bin/go/*
dotless/bin/svnup.yaml
dotted/vim/bundle/javacomplete/java
dotted/vim/tmp/
dotted/vim/.simplenoterc
