*.pyc
.ccls-cache
.config/kak/plugins
*.class
.DS_Store
bin/araxis*
bin/p4
bin/svnup.yaml
.irssi/logs/*
.vim/.VimballRecord
.vim/.netrwhist
.bin/svnup.yaml
.vim/bundle/javacomplete/java
.vim/tmp/
.vim/.simplenoterc
.irssi/config.autosave
.irssi/fnotify
.vim/hosts/*
.mutt/cache
.mutt/temp
.bitlbee/adragomir.xml
.irssi/*.log
bin/binary/*
.zsh/cache
.config/claude/.claude.json*
.config/claude/stats-cache.json
.config/claude/cache
.config/claude/debug
.config/claude/plugins
.config/claude/projects
.config/claude/shell-snapshots
.config/claude/todos
.config/karabiner/automatic_backups
.config/tmux/resurrect/*
.config/ranger/*.pyo
.config/ranger/history
.config/ranger/bookmarks
.config/gtk-3.0/bookmarks
.config/fontconfig*
.config/joplin-desktop
.config/tmux/plugins*
.config/tmux/resurrect
.config/zed/prompts
.config/zed/embeddings
.config/zsh/.zcompdump
.config/zsh/.zsh_history
.vim/bundle
.metals
