.DS_Store
bin/araxis*
bin/p4
bin/svnup.yaml
.irssi/logs/*
.vim/.VimballRecord
.vim/.netrwhist
.bin/svnup.yaml
.vim/bundle/javacomplete/java
.vim/tmp/
.vim/.simplenoterc
.irssi/config.autosave
.irssi/fnotify
.vim/hosts/*
bin/binary/*
