[submodule ".vim/bundle/vim-align"]
	path = .vim/bundle/vim-align
	url = https://github.com/tsaleh/vim-align.git
[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/conque"]
	path = .vim/bundle/conque
	url = https://github.com/rson/vim-conque.git
[submodule ".vim/bundle/fakeclip"]
	path = .vim/bundle/fakeclip
	url = https://github.com/kana/vim-fakeclip.git
[submodule ".vim/bundle/gist"]
	path = .vim/bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule ".vim/bundle/ku"]
	path = .vim/bundle/ku
	url = https://github.com/kana/vim-ku.git
[submodule ".vim/bundle/zencoding"]
	path = .vim/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule ".vim/bundle/metarw"]
	path = .vim/bundle/metarw
	url = https://github.com/kana/vim-metarw.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/pastie"]
	path = .vim/bundle/pastie
	url = https://github.com/tpope/vim-pastie.git
[submodule ".vim/bundle/slimv"]
	path = .vim/bundle/slimv
	url = https://github.com/vim-scripts/slimv.vim.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/arpeggio"]
	path = .vim/bundle/arpeggio
	url = https://github.com/kana/vim-arpeggio.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/smarttill"]
	path = .vim/bundle/smarttill
	url = https://github.com/kana/vim-smarttill.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/javascript"]
	path = .vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vimpdb"]
	path = .vim/bundle/vimpdb
	url = https://github.com/gotcha/vimpdb.git
[submodule ".vim/bundle/javacomplete"]
	path = .vim/bundle/javacomplete
	url = git@github.com:adragomir/javacomplete.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/vimorganizer"]
	path = .vim/bundle/vimorganizer
	url = https://github.com/hsitz/VimOrganizer.git
[submodule ".vim/bundle/textobj-user"]
	path = .vim/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule ".vim/bundle/neverland-vim-theme"]
	path = .vim/bundle/neverland-vim-theme
	url = https://github.com/trapd00r/neverland-vim-theme.git
[submodule ".vim/bundle/chapa"]
	path = .vim/bundle/chapa
	url = https://github.com/alfredodeza/chapa.vim.git
[submodule ".vim/bundle/operator-user"]
	path = .vim/bundle/operator-user
	url = https://github.com/kana/vim-operator-user.git
[submodule ".vim/bundle/operator-replace"]
	path = .vim/bundle/operator-replace
	url = https://github.com/kana/vim-operator-replace.git
[submodule ".vim/bundle/textobj-function"]
	path = .vim/bundle/textobj-function
	url = https://github.com/kana/vim-textobj-function.git
[submodule ".vim/bundle/textobj-fold"]
	path = .vim/bundle/textobj-fold
	url = https://github.com/kana/vim-textobj-fold.git
[submodule ".vim/bundle/smartchr"]
	path = .vim/bundle/smartchr
	url = https://github.com/kana/vim-smartchr.git
[submodule ".vim/bundle/smartword"]
	path = .vim/bundle/smartword
	url = https://github.com/kana/vim-smartword.git
[submodule ".vim/bundle/textobj-datetime"]
	path = .vim/bundle/textobj-datetime
	url = https://github.com/kana/vim-textobj-datetime.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/unimpaired"]
	path = .vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/coffee-script"]
	path = .vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/indent-object"]
	path = .vim/bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/localvimrc"]
	path = .vim/bundle/localvimrc
	url = https://github.com/vim-scripts/localvimrc.git
[submodule ".vim/bundle/vim-bundle"]
	path = .vim/bundle/vim-bundle
	url = https://github.com/kana/vim-bundle.git
[submodule ".vim/bundle/taglist-plus"]
	path = .vim/bundle/taglist-plus
	url = https://github.com/int3/vim-taglist-plus.git
[submodule ".vim/bundle/textile"]
	path = .vim/bundle/textile
	url = https://github.com/timcharper/textile.vim
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/l9"]
	path = .vim/bundle/l9
	url = https://github.com/clones/vim-l9.git
[submodule ".vim/bundle/puppet-vim"]
	path = .vim/bundle/puppet-vim
	url = https://github.com/ajf/puppet-vim.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/simplenote"]
	path = .vim/bundle/simplenote
	url = https://github.com/mrtazz/simplenote.vim.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/pandoc"]
	path = .vim/bundle/pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/numbers"]
	path = .vim/bundle/numbers
	url = https://github.com/myusuf3/numbers.vim.git
[submodule ".vim/fugitive"]
	path = .vim/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/detectindent"]
	path = .vim/bundle/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/tcomment"]
	path = .vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
