[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/javascript"]
	path = .vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/textobj-user"]
	path = .vim/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/unimpaired"]
	path = .vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/textile"]
	path = .vim/bundle/textile
	url = https://github.com/timcharper/textile.vim
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/puppet-vim"]
	path = .vim/bundle/puppet-vim
	url = https://github.com/ajf/puppet-vim.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/numbers"]
	path = .vim/bundle/numbers
	url = https://github.com/myusuf3/numbers.vim.git
[submodule ".vim/bundle/detectindent"]
	path = .vim/bundle/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule ".vim/bundle/scala"]
	path = .vim/bundle/scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/endwise"]
	path = .vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise
[submodule ".vim/bundle/commaobject"]
	path = .vim/bundle/commaobject
	url = https://github.com/austintaylor/vim-commaobject.git
[submodule ".vim/bundle/html5"]
	path = .vim/bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule ".vim/bundle/ag"]
	path = .vim/bundle/ag
	url = https://github.com/epmatsw/ag.vim.git
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule ".vim/bundle/classpath"]
	path = .vim/bundle/classpath
	url = https://github.com/tpope/vim-classpath.git
[submodule ".vim/bundle/vimclojure-static"]
	path = .vim/bundle/vimclojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule ".vim/bundle/golang-alternate"]
	path = .vim/bundle/golang-alternate
	url = https://github.com/benmills/vim-golang-alternate.git
[submodule ".vim/bundle/ios"]
	path = .vim/bundle/ios
	url = https://github.com/eraserhd/vim-ios.git
[submodule ".vim/bundle/objc"]
	path = .vim/bundle/objc
	url = https://github.com/b4winckler/vim-objc.git
[submodule ".vim/bundle/commentary"]
	path = .vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/fireplace"]
	path = .vim/bundle/fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule ".vim/bundle/a"]
	path = .vim/bundle/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule ".vim/bundle/dispatch"]
	path = .vim/bundle/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/vimside"]
	path = .vim/bundle/vimside
	url = https://github.com/megaannum/vimside.git
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/rainbow_parentheses"]
	path = .vim/bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule ".vim/bundle/tbone"]
	path = .vim/bundle/tbone
	url = https://github.com/tpope/vim-tbone.git
[submodule ".vim/bundle/scriptease"]
	path = .vim/bundle/scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/zsh-history-substring-search"]
	path = .zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule ".vim/bundle/tern"]
	path = .vim/bundle/tern
	url = https://github.com/marijnh/tern_for_vim.git
[submodule ".vim/bundle/haskellmode-vim"]
	path = .vim/bundle/haskellmode-vim
	url = https://github.com/lukerandall/haskellmode-vim
[submodule ".vim/bundle/ghcmod"]
	path = .vim/bundle/ghcmod
	url = https://github.com/eagletmt/ghcmod-vim
[submodule ".vim/bundle/neco-ghc"]
	path = .vim/bundle/neco-ghc
	url = https://github.com/ujihisa/neco-ghc.git
[submodule ".vim/bundle/abolish"]
	path = .vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish
[submodule ".vim/bundle/clever-f"]
	path = .vim/bundle/clever-f
	url = https://github.com/rhysd/clever-f.vim
[submodule ".vim/bundle/textobj-brace"]
	path = .vim/bundle/textobj-brace
	url = https://github.com/Julian/vim-textobj-brace
[submodule ".vim/bundle/textobj-parameter"]
	path = .vim/bundle/textobj-parameter
	url = https://github.com/sgur/vim-textobj-parameter
[submodule ".vim/bundle/textobj-variable-segment"]
	path = .vim/bundle/textobj-variable-segment
	url = https://github.com/Julian/vim-textobj-variable-segment
[submodule ".vim/bundle/json"]
	path = .vim/bundle/json
	url = https://github.com/elzr/vim-json
[submodule ".vim/bundle/toml"]
	path = .vim/bundle/toml
	url = https://github.com/cespare/vim-toml
[submodule ".vim/bundle/textobjectify"]
	path = .vim/bundle/textobjectify
	url = https://github.com/paradigm/TextObjectify
[submodule ".vim/bundle/julia-vim"]
	path = .vim/bundle/julia-vim
	url = https://github.com/JuliaLang/julia-vim.git
[submodule ".vim/bundle/textobj-function"]
	path = .vim/bundle/textobj-function
	url = https://github.com/kana/vim-textobj-function
[submodule ".vim/bundle/textobj-function-javascript"]
	path = .vim/bundle/textobj-function-javascript
	url = https://github.com/thinca/vim-textobj-function-javascript
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/openscad"]
	path = .vim/bundle/openscad
	url = https://github.com/sirtaj/vim-openscad
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule ".vim/bundle/vim-yaml"]
	path = .vim/bundle/vim-yaml
	url = https://github.com/stephpy/vim-yaml
[submodule ".vim/bundle/go-impl"]
	path = .vim/bundle/go-impl
	url = https://github.com/rhysd/vim-go-impl
