set expand-tilde off
set bind-tty-special-chars off
set bell-style none 
set completion-ignore-case on 
set page-completions off
set mark-symlinked-directories on
set completion-query-items 1000
set show-all-if-ambiguous on
#set show-all-if-unmodified on
set meta-flag on
set input-meta on
#
set output-meta on
set convert-meta off

"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[1;3C": forward-word
"\e[1;3D": backward-word
"\e[3C": forward-word
"\e[3D": backward-word
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
"\e[3~": delete-char 
"\ed": backward-kill-word

#Tab: menu-complete

"\C-o": set-mark

"\C-w": kill-region

"\e[A": history-search-backward
"\e[B": history-search-forward 
