[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Comment=
Name=xremap
Exec=bash -lc "/home/adr/bin/linux/xremap -d &>/var/tmp/xremap.log &"
Icon=utilities-terminal
StartupNotify=false
X-GNOME-Autostart-enabled=true
